/* :root {
    font-size: 10px;
    --content-bkg-color: #eee;
    --nav-bkg-color: #ddd;
    --header-bkg-color: #333;
    --text-color: #222;
    --nav-text-color: #333;
    --nav-hover-color: rgb(194, 192, 192);
    --header-text-color: #eee;
    --helper-color: #ee6c4d;
    --helper-hover-color: rgb(218, 94, 49);
    --border-color: #999999;
} */

:root {
    font-size: 10px;
    --content-bkg-color: #fff;
    --nav-bkg-color: #f7f7f7;
    --header-bkg-color: #3d5a80;
    --text-color: #293241;
    --nav-text-color: #333;
    --nav-hover-color: #ebe9e9;
    --header-text-color: #eee;
    --helper-color: rgb(238, 108, 77);
    --helper-hover-color: rgb(196, 78, 36);
    --header-hover-color: #466a99;
    --border-color: #4e4e50;
    --form-bkg-color: #f7f7f7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 65rem;
}

.main-content {
    display: flex;
    flex: 1;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 8000;
    background-color: transparent;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    box-shadow: 2px 2px 25px 2px rgba(0, 0, 0, 0.199);
}
