:root {
    font-size: 10px;
    --content-bkg-color: #fff;
    --nav-bkg-color: #f7f7f7;
    --header-bkg-color: #3d5a80;
    --text-color: #293241;
    --nav-text-color: #333;
    --nav-hover-color: #ebe9e9;
    --header-text-color: #eee;
    --helper-color: rgb(238, 108, 77);
    --helper-hover-color: rgb(255, 126, 94);
    --header-hover-color: #466a99;
    --border-color: rgb(145, 145, 145);
    --form-bkg-color: #fff;
}

[data-theme="dark"] {
    --content-bkg-color: #121212;
    --nav-bkg-color: #121212;
    --header-bkg-color: #222;
    --text-color: #eee;
    --nav-text-color: #eee;
    --nav-hover-color: #222;
    --header-text-color: #fff;
    --helper-color: #c3073f;
    --helper-hover-color: #e90f50;
    --header-hover-color: #555;
    --border-color: #4e4e50;
    --form-bkg-color: #eee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 65rem;
}

.main-content {
    display: flex;
    flex: 1;
    background-color: var(--content-bkg-color);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 8000;
    background-color: transparent;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    box-shadow: 2px 2px 25px 2px rgba(0, 0, 0, 0.199);
}

.location-section {
    background-color: #fff;
    padding: 2rem 4rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    gap: 1rem;
    transform: translateY(-100%);
}

.location-section-close-btn {
    flex: 1;
    background-color: var(--helper-color);
    color: var(--header-text-color);
    border: none;
    border: 1;
    padding: 0.6rem;
    border: 1px solid var(--border-color);
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 500;
    border-radius: 0.5rem;
}

/* Loading icon*/
.loader {
    border: 16px solid var(--header-bkg-color);
    border-top: 16px solid var(--helper-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -10%);
}

@keyframes spin {
    0% {
        transform: translate(-50%, -10%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -10%) rotate(360deg);
    }
}
