.vehicle-list {
    list-style: none;
    font-size: 1.5rem;
}

.vehicle-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    min-width: 20rem;
    word-wrap: break-word;
}

.vehicle-list-item:hover {
    background-color: var(--nav-bkg-color);
}

[data-theme="dark"] .vehicle-list-item:hover {
    background-color: #444;
}

.left-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.vehicle-item-text-add {
    width: 100%;
    color: var(--text-color);
}
